@import url('./variables.css');
@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    background: var(--color-background-main);
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: var(--color-background-contrast);
}